<div class="navbar navbar-inverse">
  <div class='container'>
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "News Feed", root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to :logout, destroy_user_session_path, method: :delete %></li>
          <% else %>
           <li><%= link_to "Login ", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
